<p style="font-family: Arial; font-size:3em;color:black;"> Lab Exercise 9</p>

In [107]:
# For this example, we will use K-Means Clustering Project database from Kaggle (https://www.kaggle.com/faressayah/k-means-clustering-private-vs-public-universities)
# We actually have the labels for this data set, but we will NOT use them for the KMeans clustering algorithm, since that is an unsupervised learning algorithm.
# As we will shortly see, we have a data frame with 777 observations on 18 variables.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [87]:
df = pd.read_csv('College_Data',index_col=0)
df.columns

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 777 entries, Abilene Christian University to York College of Pennsylvania
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Private      777 non-null    object
 1   Apps         777 non-null    int64
 2   Accept       777 non-null    int64
 3   Enroll       777 non-null    int64
 4   Top10perc    777 non-null    int64
 5   Top25perc    777 non-null    int64
 6   F.Undergrad  777 non-null    int64
 7   P.Undergrad  777 non-null    int64
 8   Outstate     777 non-null    int64
 9   Room.Board   777 non-null    int64
 10  Books        777 non-null    int64
 11  Personal     777 non-null    int64
 12  PhD          777 non-null    int64
 13  Terminal     777 non-null    int64
 14  S.F.Ratio    777 non-null    float64
 15  perc.alumni  777 non-null    int64
 16  Expend       777 non-null    int64
 17  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(1)
memory usage: 115.3+ KB

In [91]:
df.keys()

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [93]:
df.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

In [95]:
df['Grad.Rate']['Cazenovia College'] = 100

# Try removing various columns (features) from the dataset and examin if it improves/degrades your K-Means model performance, or it may have little impact.
# Report 10 cases where you removed one or more features and indicate how it impacted the model performance.

C:\Users\wayne\AppData\Local\Temp\ipykernel_53232\3450590736.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Grad.Rate']['Cazenovia College'] = 100
C:\Users\wayne\AppData\Local\Temp\ipykernel_53232\3450590736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grad.Rate']['Cazenovia College'] = 100

In [77]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

features = ['Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
            'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books', 'Personal', 'PhD', 'Terminal', 'S.F.Ratio',
            'perc.alumni', 'Expend', 'Grad.Rate']

X = df[features]

kmeans = KMeans(n_clusters=2, random_state=42)
kmeans.fit(X)

inertia_multi = kmeans.inertia_
labels_multi = kmeans.labels_

print("Inertia (SSE):", kmeans.inertia_)
print("Silhouette Score:", silhouette_score(X, labels_multi))

Inertia (SSE): 49266569438.55586
Silhouette Score: 0.5365983307721524

C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

In [79]:
drop_list = ['Room.Board', 'Books']  

X_removed_multi = df[features].drop(drop_list, axis=1)

kmeans_removed_multi = KMeans(n_clusters=2, random_state=42)
kmeans_removed_multi.fit(X_removed_multi)

inertia_removed_multi = kmeans_removed_multi.inertia_
labels_removed_multi = kmeans_removed_multi.labels_
sil_removed_multi = silhouette_score(X_removed_multi, labels_removed_multi)

print("Inertia:", inertia_removed_multi)
print("Silhouette Score:", sil_removed_multi)

Inertia: 48314028836.211296
Silhouette Score: 0.5428930840947034

C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

In [81]:
drop_list = ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books', 'Personal',  'Terminal', 'S.F.Ratio','perc.alumni' ]  

X_removed_multi = df[features].drop(drop_list, axis=1)

kmeans_removed_multi = KMeans(n_clusters=2, random_state=42)
kmeans_removed_multi.fit(X_removed_multi)

inertia_removed_multi = kmeans_removed_multi.inertia_
labels_removed_multi = kmeans_removed_multi.labels_
sil_removed_multi = silhouette_score(X_removed_multi, labels_removed_multi)

print("Inertia:", inertia_removed_multi)
print("Silhouette Score:", sil_removed_multi)

Inertia: 14647073282.338924
Silhouette Score: 0.6330686401939025

C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

In [105]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

features =  ['Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
            'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books', 'Personal', 'PhD', 'Terminal', 'S.F.Ratio',
            'perc.alumni', 'Expend', 'Grad.Rate']

cases = [
    ['Apps'],                    # Case 1
    ['Apps', 'F.Undergrad'],              # Case 2
    ['Apps', 'F.Undergrad', 'P.Undergrad'],     # Case 3
    ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate'],   # Case 4
    ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board'],  # Case 5
    ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books'],     # Case 6
    ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books', 'Personal'] ,         # Case 7
    ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books', 'Personal',  'Terminal' ] ,      # Case 8
    ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books', 'Personal',  'Terminal', 'S.F.Ratio' ] ,    # Case 9
    ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
            'Books', 'Personal',  'Terminal', 'S.F.Ratio','perc.alumni' ]   # Case 10
]

X = df[features]

for i, drop_features in enumerate(cases, start=1):
    X_removed = X.drop(columns=drop_features, axis=1)
    kmeans = KMeans(n_clusters=2, random_state=42)
    kmeans.fit(X_removed)
    
    labels = kmeans.labels_
    inertia_val = kmeans.inertia_
    sil_score = silhouette_score(X_removed, labels)
    
    print(f"=== Case {i} ===")
    print(f"Drop features: {drop_features}")
    print(f"Inertia (SSE): {inertia_val:.4f}")
    print(f"Silhouette Score: {sil_score:.4f}")
    print("----------------------------")

C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

=== Case 1 ===
Drop features: ['Apps']
Inertia (SSE): 42692448245.3484
Silhouette Score: 0.4160
----------------------------
=== Case 2 ===
Drop features: ['Apps', 'F.Undergrad']
Inertia (SSE): 24529919767.1929
Silhouette Score: 0.5060
----------------------------
=== Case 3 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad']
Inertia (SSE): 22777594619.9674
Silhouette Score: 0.5188
----------------------------
=== Case 4 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate']
Inertia (SSE): 15779822689.6571
Silhouette Score: 0.5876
----------------------------
=== Case 5 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board']
Inertia (SSE): 15020919725.4832
Silhouette Score: 0.6230
----------------------------
=== Case 6 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books']
Inertia (SSE): 14999991037.6034
Silhouette Score: 0.6236
----------------------------
=== Case 7 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books', 'Personal']
Inertia (SSE): 14647334889.0987
Silhouette Score: 0.6331
----------------------------
=== Case 8 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books', 'Personal', 'Terminal']
Inertia (SSE): 14647188579.4678
Silhouette Score: 0.6331
----------------------------
=== Case 9 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books', 'Personal', 'Terminal', 'S.F.Ratio']
Inertia (SSE): 14647178678.7440
Silhouette Score: 0.6331
----------------------------
=== Case 10 ===
Drop features: ['Apps', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books', 'Personal', 'Terminal', 'S.F.Ratio', 'perc.alumni']
Inertia (SSE): 14647073282.3389
Silhouette Score: 0.6331
----------------------------

C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(
C:\Users\wayne\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

In [99]:
#Key Turning Points to Notice
#Case 1 → Case 4: Inertia drops sharply (from ~4.27e10 to ~1.58e10), and the Silhouette Score jumps (from 0.416 to 0.5876). This suggests that early removals, especially Outstate, likely had a significant positive impact on the clustering.
#Case 5 → Case 7: Inertia keeps dropping, and the Silhouette Score increases to 0.6331. Removing Room.Board, Books, and Personal continues to benefit the clustering process.
#Case 8, 9, 10: The metrics barely change anymore (SSE/Score hovering around 1.46e10 / 0.6331). This usually indicates that the additional features removed in these later cases do not heavily influence clustering—either.