In [9]:
from functools import partial
from itertools import chain
from math import log10

In [11]:
def idf(tokenized_docs, word):
    dfx = sum(word in d for d in tokenized_docs)
    return log10(len(tokenized_docs) / dfx)

In [13]:
documents = [
    "college student",
    "airport taxi driver",
    "Toronto art museum",
    "life art",
    "machine learning student"
]

# Number of Rows

In [16]:
print("There are ", len(documents), "rows")

There are  5 rows

# Number of Columns

In [31]:
tokenized = [d.lower().split(" ") for d in documents]
words = set(chain.from_iterable(tokenized))

In [21]:
print("There are ", len(words), "columns")

There are  11 columns

In [23]:
print("Bag of words are\n", words)

Bag of words are
 {'art', 'machine', 'taxi', 'student', 'toronto', 'museum', 'airport', 'driver', 'college', 'learning', 'life'}

In [25]:
calc_idf = partial(idf, tokenized)

# IDF for "college"

In [27]:
print('IDF for "college" is ', calc_idf("college"))

IDF for "college" is  0.6989700043360189

# IDF for "art"

In [29]:
print('IDF for "art" is ', calc_idf("art"))

IDF for "art" is  0.3979400086720376

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer

# 定义短语
phrases = [
    "college student",
    "airport taxi driver",
    "Toronto art museum",
    "life art",
    "machine learning student"
]

# 初始化 TfidfVectorizer
vectorizer = TfidfVectorizer()

# 计算 TF-IDF 矩阵
tfidf_matrix = vectorizer.fit_transform(phrases)

# 获取单词列表
words = vectorizer.get_feature_names_out()

print(words)

# 将结果转换为 DataFrame 方便查看
import pandas as pd
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=words, index=phrases)

print("TF-IDF 矩阵：")
print(tfidf_df)

# 获取 IDF 值
#idf_values = vectorizer.idf_
#idf_dict = dict(zip(words, idf_values))

log10_idf_dict = {word: idf / np.log(10) for word, idf in idf_dict.items()}

# 输出 "college" 和 "art" 的 IDF 值
print("\nIDF 值：")
print(f"'college': {idf_dict.get('college', 0)}")
print(f"'art': {idf_dict.get('art', 0)}")

#print("\n自然对数基底的 IDF 值：")
#print(idf_dict)

#print("\nlog10 基底的 IDF 值：")
#print(log10_idf_dict)


from sklearn.feature_extraction.text import TfidfVectorizer

class Log10TfidfVectorizer(TfidfVectorizer):
    def _tfidf(self, X, log_base_10=True):
        if log_base_10:
            self._idf_diag = sp.diags([math.log10(1 + self.N_ / (1 + df)) for df in self._df],
                                       offsets=0, format='csr', dtype=float)
        return super()._tfidf(X)

['airport' 'art' 'college' 'driver' 'learning' 'life' 'machine' 'museum'
 'student' 'taxi' 'toronto']
TF-IDF 矩阵：
                          airport       art   college   driver  learning  \
college student           0.00000  0.000000  0.778283  0.00000  0.000000
airport taxi driver       0.57735  0.000000  0.000000  0.57735  0.000000
Toronto art museum        0.00000  0.495524  0.000000  0.00000  0.000000
life art                  0.00000  0.627914  0.000000  0.00000  0.000000
machine learning student  0.00000  0.000000  0.000000  0.00000  0.614189

                              life   machine    museum   student     taxi  \
college student           0.000000  0.000000  0.000000  0.627914  0.00000
airport taxi driver       0.000000  0.000000  0.000000  0.000000  0.57735
Toronto art museum        0.000000  0.000000  0.614189  0.000000  0.00000
life art                  0.778283  0.000000  0.000000  0.000000  0.00000
machine learning student  0.000000  0.614189  0.000000  0.495524  0.00000

                           toronto
college student           0.000000
airport taxi driver       0.000000
Toronto art museum        0.614189
life art                  0.000000
machine learning student  0.000000

IDF 值：
'college': 2.09861228866811
'art': 1.6931471805599454